{% extends 'nota_app/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h2>Anotaciones</h2>

    <ul>
        {% for nota in notas %}
            <li>
                <strong>{{ nota.titulo }}</strong>: {{ nota.descripcion }}
                <a href="{% url 'editar_nota' nota.pk %}">Editar</a>
                <a href="{% url 'eliminar_nota' nota.id %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay notas todavía</li>
        {% endfor %}
    </ul>
{% endblock %}